html {
  height: 100%;
}

.search {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.search input {
  padding: 10px;
  border-radius: 4px;
}

.search button {
  background-color: springgreen;
  border-color: springgreen;
  border-radius: 4px;
  margin-left: 20px;
  font-size: 18px;
  color: black;
}

.search button:disabled {
  background-color: springgreen;
  border-color: springgreen;
  border-radius: 4px;
  margin-left: 20px;
  font-size: 18px;
  color: black;
  opacity: 0.6;
}

.movieList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.movieList div {
  height: auto;
}

.noMovie {
  justify-content: center;
  width: 100%;
  font-size: 25px;
  display: flex;
}

.movieList > div > img {
  width: 100%;
  height: 400px;
}

.movieList > div > p {
  color: white;
  font-size: 18px;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}